body {
  font-family: var(--primary-text-font-style);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}
