.section {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.section__title {
  text-align: center;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.section__works {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.section--pt-none {
  padding-top: 0;
}

.section--grey-background {
  background-color: var(--team-section-background-color);
}
