:root {
    /* Fonts */
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --secondary-title-text-color: #ffffff;
    --secondary-text-color: #2196f3;
    --logo-text-color: #000000;
    --address-text-color: #ffffff 0.6;
    --icon-color: #afb1b8;
    --sign-up-text-color: #ffffff99;
    --placeholder-text-color: #75757580;
    /* Background */
    --primary-background-color: #ffffff;
    --footer-background-color: #2f303a;
    --team-section-background-color: #f5f4fa;
    --hero-btn-active-color: #188ce8;
    --header-border-bottom-color: #ececec;
    --portfolio-content-border-color: #eeeeee;
    --footer-icon-bgcolor: #ffffff1a;
    --hero-background: #c4c4c4;
    --what-are-we-desription-bgc: #2f303acc;
    --portfolio-card-overlay: #2196f3e6;
    // font styles
    --primary-text-font-style: "Roboto",
        sans-serif;
    --secondary-text-font-style: "Raleway",
        sans-serif;
}